Repository puzz-tech/gems, changes with the labels that .github/labeler.yml gives for each.
All labels: Docs, CI, Test

feat: add template project
  gems.sln
  gems.web/Controllers/WeatherForecastController.cs
  gems.web/Program.cs
  gems.web/Properties/launchSettings.json
  gems.web/WeatherForecast.cs
  gems.web/appsettings.Development.json
  gems.web/appsettings.json
  gems.web/gems.web.csproj
Labels: none

Fixing the linter action
  .github/workflows/linter.yml
Labels: CI

Try ubuntu
  .github/workflows/linter.yml
Labels: CI

fix: update the dotnet format (#1)
  .github/workflows/linter.yml
Labels: CI

chore: add additional analyzer packages
  gems.web/gems.web.csproj
Labels: none

Analyzer fixes
  .editorconfig
  README.md
  gems.web/Controllers/WeatherForecastController.cs
  gems.web/Program.cs
  gems.web/WeatherForecast.cs
  gems.web/gems.web.csproj
Labels: Docs

chore: add additional analyzer packages (#3)
  .editorconfig
  README.md
  gems.web/Controllers/WeatherForecastController.cs
  gems.web/Program.cs
  gems.web/WeatherForecast.cs
  gems.web/gems.web.csproj
Labels: Docs

.github/labeler.yml:

Docs:
  - docs/**/*
  - README.md

CI:
  - .devcontainer/**/*
  - .github/**/*
  - .vscode/**/*

Test:
  - ./**/*Test.cs
